{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "arrowFunctions": true,
        "defaultParams": true,
        "templateStrings": true
    },
    "rules": {
        "semi": 2
    }
}
