pre[class*='language'] { font-size: 1.25rem; }
pre[data-line] { padding: 1em; }
.line-highlight:before, .line-highlight[data-end]:after { content: ''; }
.line-highlight { background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.25) 70%, rgba(153, 122, 103, 0.15)); }
.line-highlight { transform: translateY(0.8em); }

.PersonaList { position: fixed; left: 1rem; bottom: 1rem; z-index: 1; }
.PersonaList .Persona { width: 6rem; float: left; text-align: center; margin: 0.5rem; display: none; }
.Persona .Persona-image { border-radius: 50%; border: 3px solid white; }
.Persona .Persona-name { font-size: 0.75rem; }
.backEndBrian .Persona--backEndBrian { display: block; }
.juniorJacob .Persona--juniorJacob { display: block; }
.midLevelMelissa .Persona--midLevelMelissa { display: block; }

.Split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.Split .Split-column {
  order: 0;
  flex: 0 1 50%;
  align-self: auto;
  margin: 1rem;
}
.Split-column > p, .Split-column > h4 {
  text-align: left;
}

.crazybox--2 {
  width: 200px;
  height: 200px;
  background-color: #F00;
  box-sizing: content-box;
  font-size: 2rem !important;
  line-height: 200px !important;
}
.stick--200--2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 200px;
  height: 5px;
  background-color: blue;
}

.crazybox--3 {
  width: 200px;
  height: 200px;
  background-color: #F00;
  box-sizing: content-box;
  font-size: 2rem !important;
  line-height: 200px !important;
  padding: 1rem !important;
  border: 1rem solid blue !important;
  position: relative !important;
}
.crazybox--3:after,
.crazybox--3::after {
  content: ' ' !important;
  display: block !important;
  position: absolute !important;
  top: 1rem !important;
  left: 1rem !important;
  right: 1rem !important;
  bottom: 1rem !important;
  outline: 1px dashed white;
}
.stick--200--3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 200px;
  height: 5px;
  background-color: blue;
}

.smartbox--4 {
  width: 200px;
  height: 200px;
  background-color: #F00;
  box-sizing: border-box;
  font-size: 2rem !important;
  padding: 1rem !important;
  border: 1rem solid blue !important;
  position: relative !important;
  display: table-cell !important;
  vertical-align: middle !important;
}
.smartbox--4:after,
.smartbox--4::after {
  content: ' ' !important;
  display: block !important;
  position: absolute !important;
  top: 1rem !important;
  left: 1rem !important;
  right: 1rem !important;
  bottom: 1rem !important;
  outline: 1px dashed white;
}
.stick--200--4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 200px;
  height: 5px;
  background-color: blue;
}
