# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.pyc

# OS or Editor folders
.DS_Store
.cache
.project
.settings
nbproject
thumbs.db
*.sublime-project

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
publish
.idea
docs/api
docs/parser
docs/generator
docs/yuidoc/bin
docs/yuidoc/bin/**

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties
_site
.sass-cache

node_modules
