#dialog { z-index: 999; padding: 2rem; }
#dialog .modules { list-style-type: none; font-size: 1.5rem; }
#dialog h2 { color: black; margin: 0; }

[data-store] {
  outline: 1px dashed rgba(0, 0, 0, 0.25);
}

/*
pre[class*='language'] { font-size: 1.25rem; }
pre[data-line] { padding: 1em; }
.line-highlight:before, .line-highlight[data-end]:after { content: ''; }
.line-highlight { background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.25) 70%, rgba(153, 122, 103, 0.15)); }
.line-highlight { transform: translateY(0.8em); }
*/

.Title {
  position: absolute;
  color: #999;
  z-index: 9;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
  transform: rotate(270deg);
  transform-origin: 100% 100%;
  width: 100%;
  right: 0;
  bottom: 100vh;
  text-align: end;
}
.Title.Title--show {
  padding: 0.5rem;
  max-height: 3rem;
}

.StatusList { position: fixed; left: 1rem; bottom: 1rem; z-index: 1; }
.StatusList .Status {
  float: left;
  text-align: center;
  margin: 0.5rem;
  transition: all 1s ease-in;
  position: relative;
  top: 10rem;
}
.Status .Status-image {
  border-radius: 50%;
  border: 3px solid white;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease-out;
 }
.Status .Status-label { font-size: 1.25rem; }

.statusLint .Status--lint { top: 0; }
.statusLint--easy .Status--lint .Status-image { background-color: #5CB85C; }
.statusLint--hard .Status--lint .Status-image { background-color: #D9534F; }
.statusLint--easy .Status--lint .Status-label:after,
.statusLint--hard .Status--lint .Status-label:after {
  content: 'Easy to Lint';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.statusLint--hard .Status--lint .Status-label:after { content: 'Hard to Lint'; }

.statusRule .Status--rule { top: 0; }
.statusRule--fresh .Status--rule .Status-image { background-color: #5CB85C; }
.statusRule--none .Status--rule .Status-image { background-color: #D9534F; }
.statusRule--fuzzy .Status--rule .Status-image { background-color: #F0AD4E; }
.statusRule--fresh .Status--rule .Status-label:after,
.statusRule--none .Status--rule .Status-label:after,
.statusRule--fuzzy .Status--rule .Status-label:after {
  content: 'Fresh Rule';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.statusRule--none .Status--rule .Status-label:after { content: 'No Rule'; }
.statusRule--fuzzy .Status--rule .Status-label:after { content: 'Fuzzy Rule'; }

.statusSkill .Status--skill { top: 0; }
.statusSkill--junior .Status--skill .Status-image { background-color: #D9534F; }
.statusSkill--mid .Status--skill .Status-image { background-color: #F0AD4E; }
.statusSkill--senior .Status--skill .Status-image { background-color: #5CB85C; }
.statusSkill--junior .Status--skill .Status-label:after,
.statusSkill--mid .Status--skill .Status-label:after,
.statusSkill--senior .Status--skill .Status-label:after {
  content: 'Junior Dev';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.statusSkill--mid .Status--skill .Status-label:after { content: 'Mid-Level Dev'; }
.statusSkill--senior .Status--skill .Status-label:after { content: 'Senior Dev'; }

.Split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.Split .Split-column {
  order: 0;
  flex: 0 1 50%;
  align-self: auto;
  margin: 1rem;
}
.Split-column > p, .Split-column h4 {
  text-align: left;
}

/* Social sharing */
.share-reveal a {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  color: #fff;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 12px;
  vertical-align: top;
  text-transform: uppercase;
  box-sizing: border-box;
}

.share-reveal svg {
  vertical-align: middle;
}

.share-reveal a + a {
  margin-left: 10px;
}

.share-reveal-editor {
  border: 2px solid #fff;
}

.share-reveal-twitter,
.share-reveal-follow {
  background-color: #00aced;
}

.share-reveal-facebook {
  background-color: #4B71B8;
}

/* Advertising */
#carbonads {
  width: 370px;
  min-height: 100px;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 40px auto 0 auto;
  font-size: 16px;
  z-index: 10;
  text-align: left;
}

#carbonads .carbon-img img {
  float: left;
  margin: 0 10px 0 0;
  border: 0;
  box-shadow: none;
}

#carbonads .carbon-poweredby {
  display: block;
  margin-top: 10px;
  color: #aaa;
}

.caniuse {
  margin: auto !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #333;
  padding: 1rem !important;
  font-size: 1rem !important;
  width: 40rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.caniuse .agents, .caniuse .legend { width: 100% !important; }
