<div class="sidebar">
  <div class="container sidebar-stickyx">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title == "About" or node.title == "Archive" or node.title == "Speaking" or node.title == "Uses" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" target="_blank" href="https://www.youtube.com/manorisms">VIDEOS</a>
    </nav>

		<section class="Promoted">
      {% if page.title == "Home" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🆕 Use the New Profiler in React Developer Tools (<a href="https://twitter.com/ChromeDevTools?ref_src=twsrc%5Etfw">@ChromeDevTools</a> or <a href="https://twitter.com/firefox?ref_src=twsrc%5Etfw">@Firefox</a>) to Generate Flame Charts and Interaction Tracking<br><br>⚛️ React 16.5.0 has been released and supports the new Profiler in the React Developer Tools <a href="https://t.co/GBKCPAaEJd">https://t.co/GBKCPAaEJd</a><br><br>🎥 <a href="https://t.co/PJ1rHfSpIH">https://t.co/PJ1rHfSpIH</a> <a href="https://t.co/jpvoU3smqp">pic.twitter.com/jpvoU3smqp</a></p>&mdash; 𝙴𝚕𝚒𝚓𝚊𝚑 𝙼𝚊𝚗𝚘𝚛 (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/1038057481057050624?ref_src=twsrc%5Etfw">September 7, 2018</a></blockquote>
      {% elsif page.title == "Use the New Profiler in React Developer Tools to Generate Flame Charts and Interactions" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">📹 Add ESLint &amp; Prettier to VS <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a> for a `create-react-app` <a href="https://t.co/RciGhZ8aXD">https://t.co/RciGhZ8aXD</a><br><br>✅ ESLint extension<br>✅ tweak .eslintrc<br>✅ Prettier extension<br>✅ npm i prettier eslint-config-prettier eslint-plugin-prettier -D<br>✅ tweak settings.json<br>✅ npm i husky pretty-quick<br><br>⚛️ <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a></p>&mdash; 𝙼𝚊𝚗𝚘𝚛𝚒𝚜𝚖𝚜 (@manor_isms) <a href="https://twitter.com/manor_isms/status/988798723647000577?ref_src=twsrc%5Etfw">April 24, 2018</a></blockquote>
      {% elsif page.title == "Getting Started with Create React App" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">📹 What&#39;s New in <a href="https://twitter.com/hashtag/ReactJS?src=hash&amp;ref_src=twsrc%5Etfw">#ReactJS</a> 16.3 (15 mins) <a href="https://t.co/6KN5awhWFl">https://t.co/6KN5awhWFl</a><br><br>✅ New Context API<br>✅ New getDerivedStateFromProps &amp; getSnapshotBeforeUpdate lifecycle methods<br>✅ New react-lifecycles-compat<br>✅ New ref APIs (createRef &amp; forwardRef)<br>✅ New StrictMode <br>✅ Etc... <a href="https://t.co/nA2lEG5yZo">pic.twitter.com/nA2lEG5yZo</a></p>&mdash; Elijah Manor (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/979492254820786177?ref_src=twsrc%5Etfw">March 29, 2018</a></blockquote>
      {% elsif page.title == "Debugging a Create React App with VS Code" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🆕 Use the New Profiler in React Developer Tools (<a href="https://twitter.com/ChromeDevTools?ref_src=twsrc%5Etfw">@ChromeDevTools</a> or <a href="https://twitter.com/firefox?ref_src=twsrc%5Etfw">@Firefox</a>) to Generate Flame Charts and Interaction Tracking<br><br>⚛️ React 16.5.0 has been released and supports the new Profiler in the React Developer Tools <a href="https://t.co/GBKCPAaEJd">https://t.co/GBKCPAaEJd</a><br><br>🎥 <a href="https://t.co/PJ1rHfSpIH">https://t.co/PJ1rHfSpIH</a> <a href="https://t.co/jpvoU3smqp">pic.twitter.com/jpvoU3smqp</a></p>&mdash; 𝙴𝚕𝚒𝚓𝚊𝚑 𝙼𝚊𝚗𝚘𝚛 (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/1038057481057050624?ref_src=twsrc%5Etfw">September 7, 2018</a></blockquote>
      {% else %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🆕 Use the New Profiler in React Developer Tools (<a href="https://twitter.com/ChromeDevTools?ref_src=twsrc%5Etfw">@ChromeDevTools</a> or <a href="https://twitter.com/firefox?ref_src=twsrc%5Etfw">@Firefox</a>) to Generate Flame Charts and Interaction Tracking<br><br>⚛️ React 16.5.0 has been released and supports the new Profiler in the React Developer Tools <a href="https://t.co/GBKCPAaEJd">https://t.co/GBKCPAaEJd</a><br><br>🎥 <a href="https://t.co/PJ1rHfSpIH">https://t.co/PJ1rHfSpIH</a> <a href="https://t.co/jpvoU3smqp">pic.twitter.com/jpvoU3smqp</a></p>&mdash; 𝙴𝚕𝚒𝚓𝚊𝚑 𝙼𝚊𝚗𝚘𝚛 (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/1038057481057050624?ref_src=twsrc%5Etfw">September 7, 2018</a></blockquote>
      {% endif %}
		</section>

		<section class="Social">
      <a href="https://twitter.com/elijahmanor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elijahmanor</a>
			<!-- {% if page.url != "/" %}
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-url="{{ post.url }}" data-via="elijahmanor" data-size="large">Tweet</a>
      {% endif %} -->
      <!-- https://developers.google.com/youtube/youtube_subscribe_button -->
      <!-- <div class="g-ytsubscribe" data-channelid="UCSUkyvHHdLuFKkHyYxCmmcw" data-layout="full" data-theme="dark" data-count="default"></div> -->
      <!-- <div class="g-ytsubscribe" data-channelid="UCSUkyvHHdLuFKkHyYxCmmcw" data-layout="default" data-theme="dark" data-count="default"></div> -->
    </section>

    <script src="https://apis.google.com/js/platform.js"></script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p class="Copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
