<div class="sidebar">
  <div class="container sidebar-stickyx">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title == "About" or node.title == "Archive" or node.title == "Speaking" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    {% for local_variable in local_variables %}
         <p> {{ local_variable }} </p><br>
    {% endfor %}

		<section class="Promoted">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How to Use npm Scripts as Your Build Tool - <a href="https://twitter.com/hashtag/otherjs?src=hash">#otherjs</a> course by <a href="https://twitter.com/elijahmanor">@elijahmanor</a> <a href="https://twitter.com/hashtag/levelup?src=hash">#levelup</a> <a href="https://t.co/Clp09Ucp23">https://t.co/Clp09Ucp23</a></p>&mdash; egghead.io (@eggheadio) <a href="https://twitter.com/eggheadio/status/827336590322176000">February 3, 2017</a></blockquote>
		</section>

		<section class="Social">
			<a href="https://twitter.com/elijahmanor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elijahmanor</a>
			{% if page.url != site.baseurl %}
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-url="{{ post.url }}" data-via="elijahmanor" data-size="large">Tweet</a>
			{% endif %}
		</section>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p class="Copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
