<div class="sidebar">
  <div class="container sidebar-stickyx">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title == "About" or node.title == "Archive" or node.title == "Speaking" or node.title == "Uses" or node.title == "Videos" %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

		<section class="Promoted">
      {% if page.title == "Home" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🎬 create-react-app playlist <a href="https://t.co/4u8tml5XCv">https://t.co/4u8tml5XCv</a><br><br>1️⃣ Getting Started<br>2️⃣ Debugging with <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>3️⃣ Adding <a href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw">@Storybookjs</a> Style Guide<br>4️⃣ Forking instead of Ejecting<br>5️⃣ Adding ESLint/Prettier to <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>⚡️ ... more to come ...<br><br>🏷 <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a></p>&mdash; Elijah Manor (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/975763876624117767?ref_src=twsrc%5Etfw">March 19, 2018</a></blockquote>
      {% elsif page.title == "Getting Started with Create React App" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🎬 create-react-app playlist <a href="https://t.co/4u8tml5XCv">https://t.co/4u8tml5XCv</a><br><br>1️⃣ Getting Started<br>2️⃣ Debugging with <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>3️⃣ Adding <a href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw">@Storybookjs</a> Style Guide<br>4️⃣ Forking instead of Ejecting<br>5️⃣ Adding ESLint/Prettier to <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>⚡️ ... more to come ...<br><br>🏷 <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a></p>&mdash; Elijah Manor (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/975763876624117767?ref_src=twsrc%5Etfw">March 19, 2018</a></blockquote>
      {% elsif page.title == "Debugging a Create React App with VS Code" %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🎬 create-react-app playlist <a href="https://t.co/4u8tml5XCv">https://t.co/4u8tml5XCv</a><br><br>1️⃣ Getting Started<br>2️⃣ Debugging with <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>3️⃣ Adding <a href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw">@Storybookjs</a> Style Guide<br>4️⃣ Forking instead of Ejecting<br>5️⃣ Adding ESLint/Prettier to <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>⚡️ ... more to come ...<br><br>🏷 <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a></p>&mdash; Elijah Manor (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/975763876624117767?ref_src=twsrc%5Etfw">March 19, 2018</a></blockquote>
      {% else %}
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🎬 create-react-app playlist <a href="https://t.co/4u8tml5XCv">https://t.co/4u8tml5XCv</a><br><br>1️⃣ Getting Started<br>2️⃣ Debugging with <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>3️⃣ Adding <a href="https://twitter.com/storybookjs?ref_src=twsrc%5Etfw">@Storybookjs</a> Style Guide<br>4️⃣ Forking instead of Ejecting<br>5️⃣ Adding ESLint/Prettier to <a href="https://twitter.com/code?ref_src=twsrc%5Etfw">@Code</a><br>⚡️ ... more to come ...<br><br>🏷 <a href="https://twitter.com/hashtag/reactjs?src=hash&amp;ref_src=twsrc%5Etfw">#reactjs</a></p>&mdash; Elijah Manor (@elijahmanor) <a href="https://twitter.com/elijahmanor/status/975763876624117767?ref_src=twsrc%5Etfw">March 19, 2018</a></blockquote>
      {% endif %}
		</section>

		<section class="Social">
      <a href="https://twitter.com/elijahmanor" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @elijahmanor</a>
			<!-- {% if page.url != "/" %}
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-url="{{ post.url }}" data-via="elijahmanor" data-size="large">Tweet</a>
      {% endif %} -->
      <!-- https://developers.google.com/youtube/youtube_subscribe_button -->
      <!-- <div class="g-ytsubscribe" data-channelid="UCSUkyvHHdLuFKkHyYxCmmcw" data-layout="full" data-theme="dark" data-count="default"></div> -->
      <!-- <div class="g-ytsubscribe" data-channelid="UCSUkyvHHdLuFKkHyYxCmmcw" data-layout="default" data-theme="dark" data-count="default"></div> -->
    </section>

    <script src="https://apis.google.com/js/platform.js"></script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p class="Copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
