
#Introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Introduction .bttf {
  font-family: BTTF;
  line-height: 100%;
  -webkit-text-stroke-color: #00F;
  -webkit-text-stroke-width: 2px;
  font-size: 5.5em;
  position: relative;
  height: 2.5em;
  width: 3em;
  transform: rotateY(20deg);
  animation: bounceOutLeft 5s ease-in 5s infinite alternate;
}

#Introduction .over > :first-child,
#Introduction .over > :last-child {
  color: #F00;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,1,0)), to(rgba(0,1,0,1)));
}

#Introduction .under {
  color: #FF0;
}

#Introduction .over img,
#Introduction .under img {
  display: block;
  height: 1em;
  width: 1em;
}

#Introduction .under,
#Introduction .over {
	position: absolute;
	left: 0px;
	top: 0px;
}

#Introduction .container {
  -webkit-perspective: 400;
}

#Introduction .container > div {
  overflow: visible;
}

#Introduction-twitter {
  font-size: 2em;
  a { text-decoration: none; }
}

@keyframes bounceOutLeft {
  0%, 50% {
    opacity: 1;
    transform: rotateY(20deg) translateX(0px);
  }

  75% {
    opacity: 1;
    transform: rotateY(20deg) translateX(-50px);
  }

  90%, 100% {
    opacity: 0;
    transform: rotateY(20deg) translateX(3000px);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft
}
