@import 'node_modules/modularized-normalize-scss/_normalize.scss';
@import 'node_modules/scut/dist/_scut.scss';
@import '_reset.scss';

$primary-text-color: #ffffff;
$secondary-text-color: #484848;
$primary-color: #61dafb;
$secondary-color: #cc7a6f;
$tertiary-color: #f1ede4;
$background-color: #222222;

html, body {
  width: 100%;
  height: 100%;
  color: $primary-text-color;
  background-color: $background-color;
  font-size: 24px;
  font-size: 2.25vw; //2.5vw; //24px;
}

h1 { font-size: 2em; color: $primary-color; }
h2 {
  @include scut-margin(0.5em n);

  font-size: 1.5em;
}
p, li { font-size: 1.1em; }
pre, code { font-size: 1em; }
a { color: $primary-color; }
img { margin-bottom: 1em; }
ul, ol { text-align: left; display: inline-block; }
blockquote {
  text-align: left;
  color: $secondary-text-color;
  background-color: $tertiary-color;
  padding: 0.5em;

  a { color: $secondary-color; }
}
iframe[data-offline] { background-color: $tertiary-color; }

pre.language--clean {
  margin: 0;
}

pre.language--small {
  @include scut-padding(n 0.5em 0.5em);

  font-size: 0.8em;
}

pre[data-line].language--small {
  padding-left: 2.5em;
}

.Convey {
  width: 100%;
  height: 100%;
}

.SlideManager-controls {
  @include scut-fixed(n 0.5em 0.5em n);

  color: black;
  text-align: center;
  width: 4em;

  a {
    text-decoration: none;
  }
}

.Arrow {
	width: 0;
	height: 0;
  display: inline-block;
  margin: 0.25em;
}

.Arrow--right {
	border-top: .75em solid transparent;
	border-bottom: .75em solid transparent;
	border-left: .75em solid $primary-color;

  &:hover {
    border-left-color: darkblue;
  }
}

.Arrow--left {
	border-top: .75em solid transparent;
	border-bottom: .75em solid transparent;
	border-right: .75em solid $primary-color;

  &:hover {
    border-right-color: darkblue;
  }
}

.SlideManager {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.SlideManager-slide {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  padding: 2em;
  text-align: center;
}

.Slide--static {
  position: static;
  transform: none;
}

.Slide--title {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  h1 { font-size: 3em; }
}

.Footnote {
  color: $secondary-color;
}

.carousel-enter {
  opacity: 0;
}
.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.carousel-leave {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.carousel-leave.carousel-leave-active {
  opacity: 0;
}

@font-face {
  font-family: BTTF;
  src: url("./BTTF.ttf") format("truetype");
}

.Split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.Split .Split-column {
  order: 0;
  flex: 0 1 50%;
  align-self: auto;
  margin: 1rem;
}

.Split .Split-column--narrow {
  @include scut-margin(n 0.5rem);
}

.Split .Split-column--wide {
  @include scut-margin(n 2.5rem);
}

.Split .Split-column--65 {
  flex: 0 1 65%;
}

.Split .Split-column--75 {
  flex: 0 1 75%;
}

.Split .Split-column--80 {
  flex: 0 1 80%;
}

.Split p:first-of-type {
  margin-top: 0;
}

.Split p,
.Split h4 {
  text-align: left;
  line-height: 1.5em;
}

@import '_introduction.scss';
@import '_conclusion.scss';

.SlideManager-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0.25em;
}

.SlideManager-progress {
  background-color: $secondary-color;
  height: 100%;
  transition: width 1s ease-out;
  border-radius: .5em;
  position: relative;

  &:after {
    font-size: 0.5em;
    content: attr(data-progress);
    display: block;
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 5em;
  }
}

@for $i from 0 through 100 {
  .SlideManager-progress--#{$i} {
    width: 0% + $i;
  }
}

.mermaid {
  @include scut-margin(1em n);

  background-color: $tertiary-color;
  //color: $secondary-text-color;
}

.Welcome {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
