---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the >> of the read more link */
.post-excerpt p {
	display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 1rem;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex-item {
	-webkit-flex: 1 auto;
	flex: 1 auto;
}

.post > .social {
	float: right;
}

.Social {
	.twitter-follow-button, .twitter-share-button {
		display: inline-block !important;
		background: #1b95e0;
		border-radius: 0.2em;
		padding: 0.2em 0.8em;
		font-size: 0.7em;
		line-height: 1.7em;
		font-weight: bold;
		margin-bottom: 0.8em;
	}

	.twitter-follow-button-rendered, .twitter-share-button-rendered {
		padding: 0;
	}
}

.Social {
	text-align: center;
}

.Promoted {
	margin: 0 auto 0.75em auto;
	display: none;

	blockquote {
		font-size: 0.7em;
		background: white;
		border-radius: 0.3em;
		color: black;
		border-left: none;
		padding: 1.5em 3em 1.5em 1.5em;
	}

	a {
		color: #268bd2;
	}
}

@media (min-width: 48em) {
	.Promoted {
		display: block;
	}
}

.Copyright {
	text-align: center;
}

.speaking .content {
	max-width: none;
}

.Events {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1rem;
}

.Event {
	background-color: #eee;
	border: 1px solid #CCC;
	border-radius: 1rem;
	flex: 1 auto;
	margin: 0.5rem;
	padding: 0.5rem;
	max-width: 12rem;
	position: relative;
	min-width: 12rem;

	&--upcoming {
		&:before {
			content: 'Upcoming';
			display: block;
			position: absolute;
			background-color: #D9EDF7;
			right: 0;
			bottom: 0;
			width: 5rem;
			text-align: center;
			font-size: 0.5rem;
			line-height: 1.3rem;
			BORDER-RADIUS: 0.5rem 0rem;
			border-top: 1px solid #CCC;
			border-left: 1px solid #CCC;
		}
	}

	&-date {
		margin-bottom: 0.5rem;
	}

	&-name {
		font-size: 1rem;
		line-height: 1rem;
		margin-bottom: 0.5rem;
		font-weight: bold;
		a { color: black; }
	}

	&-title { font-weight: bold; font-size: 0.8rem; margin-bottom: 0.25rem; }

	&-description { font-size: 0.75rem; }

	&-location {
		font-style: italic;
		color: #555;
		margin-bottom: 0.75rem;
	}
}

.Date {
	display: flex;
	flex-flow: row wrap;
	color: #777;
	justifiy-content: center;
	align-items: center;

	&-day {
		font-size: 2rem;
		margin-right: 1rem;
		font-weight: bold;
	}
	&-summary {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		font-size: 1rem;
		line-height: 1rem;
		text-transform: uppercase;
	}
	&-month {
		flex: 1 auto;
	}
	&-year {
		flex: 1 auto;
	}
}

.Sessions {
	padding-left: 1rem;
}

.Session {
	margin-bottom: 1rem;

	&:last-of-type { margin-bottom: 0; }
	&-name { font-weight: bold; font-size: 1rem; }
	&-links {
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		padding: 0;
		font-size: 0.5rem;
	}
	&-link {
		margin-right: 0.5rem;
		a { color: black; }
	}
	&-link--unavailable {
    	a {
			color: #ccc;
			pointer-events: none;
			cursor: default;
		}
	}
}

/*
<div class="ButtonGroup" role="group" aria-label="...">
  <button type="button" class="ButtonGroup-button">Left</button>
  <button type="button" class="ButtonGroup-button">Middle</button>
  <button type="button" class="ButtonGroup-button">Right</button>
</div>
*/
.ButtonGroups {
	display: none;
}

.ButtonGroup {
	display: inline-block;

	&-button {
		float: left;
		display: inline-block;
		border: 1px solid #ccc;
		background-color: #eee;
		margin-left: -1px;
	}

	&-button:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -3px;
	}

	&-button:first-of-type {
		border-radius: 0.5rem 0rem 0rem 0.5rem;
	}

	&-button:last-of-type {
		border-radius: 0rem 0.5rem 0.5rem 0rem;
	}

	&-button--selected {
		background-color: #ccc;
	}
}

.Badges {
	position: absolute;
	right: -0.5rem;
	top: -0.5rem;
	font-size: 0.5rem;
	text-align: right;
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	&-badge {
		border-radius: 0.3rem;
		line-height: 0.5rem;
		padding: 0.25rem .25rem;
		margin-bottom: .25rem;
		border: 1px solid #ccc;
		outline: none;
	}

	&-badge--type {
		background-color: #DFF0D8;
	}

	&-badge--employer {
		background-color: #FCF8E3;
	}
}

@media only screen and (max-width: 900px) {
	.Event {
		max-width: 100%;
	}
}

.archive .posts {
	time {
		width: 4rem;
		display: inline-block;
	}
}
