.Terminal {
    display: flex;
    flex-direction: column;
}

.Terminal-nav {
    padding: 10px;
    display: flex;
    background-color: #E0E9F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
}

.Terminal-button {
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.Terminal-button--close {
    background-color: #EE5057;
}

.Terminal-button--minimize {
    background-color: #DEC612;
}

.Terminal-button--expand {
    background-color: #33B969;
}

.Terminal-main {
    padding: 15px;
    background-color: #303539;
    color: white;
    min-height: 400px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.58em;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

.Terminal-line--currentx {
    position: relative;
}

.Terminal-line--currentx:after {
    content: "";
    border: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    top: -5px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: -5px;
    right: -5px;
}