#dialog {
  z-index: 999;
  .modules { list-style-type: none; font-size: 1.5rem; }
  h3 { color: black; }
}

#Introduction img { background: none; border: none; box-shadow: none; }

@font-face {
  font-family: BTTF;
  src: url("./BTTF.ttf") format("truetype");
}

#Introduction .bttf {
  font-family: BTTF;
  line-height: 100%;
  -webkit-text-stroke-color: #00F;
  -webkit-text-stroke-width: 2px;
  font-size: 8rem;
  position: relative;
  height: 325px;
  transform: rotateY(20deg) translateX(20%);
  animation: bounceOutLeft 5s ease-in 5s infinite alternate;
}

#Introduction .over > :first-child,
#Introduction .over > :last-child {
  color: #F00;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,1,0)), to(rgba(0,1,0,1)));
}

#Introduction .under {
  color: #FF0;
}

#Introduction .under, #Introduction .over {
	position: absolute;
	left: 0px;
	top: 0px;
}

#Introduction .container {
  -webkit-perspective: 400;
}

#Introduction .container > div {
  overflow: visible;

}

@keyframes bounceOutLeft {
  0%, 50% {
    opacity: 1;
    transform: rotateY(20deg) translateX(20%);
  }

  75% {
    opacity: 1;
    transform: rotateY(20deg) translateX(10%);
  }

  90%, 100% {
    opacity: 0;
    transform: rotateY(20deg) translateX(3000px);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft
}

.icon--positive { color: #5CB85C; }
.icon--negative { color: #D9534F; }

[data-store] {
  outline: 1px dashed rgba(0, 0, 0, 0.25);
}

pre[class*='language'] { font-size: 1.25rem; }
pre[data-line] { padding: 1em; }

.line-highlight:before, .line-highlight[data-end]:after { content: ''; }
.line-highlight { background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.25) 70%, rgba(153, 122, 103, 0.15)); }
.line-highlight { transform: translateY(0.8em); }

.PersonaList {
  position: fixed; left: 1rem; bottom: 1rem; z-index: 1;

  .Persona {
    width: 6rem;
    float: left;
    text-align: center;
    margin: 0.5rem;
    transition: all 1s ease-in;
    position: relative;
    top: 10rem;
  }

  .Persona-image { border-radius: 50%; border: 3px solid white; }

  .Persona-name { font-size: 0.75rem; }
}

.backEndBrian .Persona--backEndBrian { top: 0; }
.juniorJacob .Persona--juniorJacob { top: 0; }
.midLevelMelissa .Persona--midLevelMelissa { top: 0; }

.Split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;

  .Split-column {
    order: 0;
    flex: 0 1 50%;
    align-self: auto;
    margin: 1rem;
  }

  & > p, h4 {
    text-align: left;
  }
}
