{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "curly": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "camelcase": [2, {"properties": "never"}],
    "new-cap": 0,
    "max-len": [1, 99999],
    "no-unused-vars": 0,
    "no-multi-spaces": 0,
    "no-use-before-define": 0,
    "key-spacing": 0,
    "no-shadow": 0,
    "eol-last": 0,
    "space-infix-ops": 0,
    "comma-dangle": 0,
    "quotes": 0,
    "no-constant-condition": 0,
    "consistent-return": 0,
    "space-unary-ops": 0,
    "camelcase": 0,
    "no-empty": 0,
    "no-cond-assign": 0,
    "no-new": 0,
    "semi-spacing": 0,
    "comma-spacing": 0,
    "no-extra-boolean-cast": 0,
    "no-trailing-spaces": 0,
    "no-this-before-super": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-quotes": 0,
    "react/jsx-no-undef": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 0,
    "react/jsx-uses-vars": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/self-closing-comp": 0,
    "react/wrap-multilines": 0,
    "no-path-concat": 0
  },
  "globals": {
    "inject": false,
    "module": false,
    "jasmine": false,
    "sinon": false,
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect": false,
    "window": false,
    "document": false,
    "jest": false,
    "spyOn": false,
    "makeModalRenderer": false,
    "__DEV__": false,
    "__PRERELEASE__": false,
    "__dirname": false
  },
  "plugins": [
    "react"
  ]
}
