class Jokes extends React.Component {
  render() {
    return (
      <div className="Jokes">
        {this.props.jokes.map(joke => {
          return (
            <FlipCard>
              <div>{joke.question}</div>
              <div>{joke.answer}</div>
            </FlipCard>
          );
        })}
      </div>
    );
  }
}

class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = { jokes: [] };
  }
  componentDidMount() {
    fetch('https://rawgit.com/.../jokes.json')
      .then(response => response.json())
      .then(jokes => this.setState({ jokes }));
  }
  render() {
    const { jokes } = this.state;

  	return (
      	<Jokes jokes={ jokes } />
    );    
  }
}
