function Jokes({jokes, index}) {
  const joke = jokes.length ?
    jokes[index] : null;

  return (
    joke &&
    <FlipCard>
      <div>
        <div>{joke.question}</div>
        <footer>
          {index + 1} of {jokes.length}
        </footer>
      </div>
      <div>{joke.answer}</div>
    </FlipCard>
  );
}

class JokesContainer extends React.Component {
  state = {jokes: [], index: 0};
  componentDidMount() {
    document.addEventListener(
      'keydown', this.handleKeyDown
    );
    fetch('https://rawgit.com/.../jokes.json')
      .then(response => response.json())
      .then((jokes) =>
        this.setState({jokes}));
  }
  componentWillUnmount() {
    document.removeEventListener(
      'keydown', this.handleKeyDown
    );
  }
  handleKeyDown: (e) => {
    if (e.which === 38) {
      this.decrement();
    } else if (e.which === 40) {
      this.increment();
    }
  }
  decrement() {
    this.setState(({index}) => ({
      index: index > 0 ? index - 1 : 0,
    }));
  }
  increment() {
    let {jokes, index} = this.state;
    const length = jokes.length - 1;
    index = index < length ? ++index : length;
    this.setState({index});
  }
  render() {
    return <Jokes {...this.state} />;
  }
}

const App = () => <JokesContainer />;
