import React from 'react';
import FlipCard from 'react-flipcard';
import './Jokes.css';

export default class Jokes extends React.Component {
  shouldComponentUpdate(nextProps, nextState) {
    return (
      nextProps.index !== this.props.index ||
      nextProps.jokes !== this.props.jokes
    );
  }
  render() {
    const { jokes = [], index } = this.props;
    const joke = jokes[index];

    return (
      joke &&
      <FlipCard>
        <div>
          <div>{joke.question}</div>
          <footer>{index + 1} of {jokes.length}</footer>
        </div>
        <div>{joke.answer}</div>
      </FlipCard>
    );
  }
}
