function renderJoke(joke) {
  return (
    <FlipCard>
      <div>{joke.question}</div>
      <div>{joke.answer}</div>
    </FlipCard>
  );
}  
  
function Jokes({jokes}) {
  return (
    <div className="Jokes">
      {jokes.map(joke => renderJoke(joke))}
    </div>
  );
}

const fetchResource = get =>
  WrappedComponent =>
    class extends React.Component {
      state = {jokes: []};
      componentDidMount() {
        get(this.props)
          .then(jokes =>
            this.setState({jokes}));
      }
      render() {
        return <WrappedComponent
          {...this.props} {...this.state} />;
      }
    };

const fetchJokes = fetchResource(props =>
  fetch("https://icanhazdadjoke.com/search", {
    headers: {
      Accept: "application/json",
      "User-Agent": "DevIntersection"
    }
  })
    .then(response => response.json())
    .then(response =>
      response.results.reduce(
        (memo, { joke }) => {
          if (joke.includes("?")) {
            const [question, answer] =
              joke.split("?");
            memo.push({ question, answer });
          }
          return memo;
        }, []
      )
    )
);

const JokesContainer = fetchJokes(Jokes);

const App = () => <JokesContainer />;
