import React from "react";
import Jokes from "./Jokes";

class JokeResource extends React.Component {
  state = { jokes: [] };
  componentDidMount() {
    const {url, headers, parser} = this.props;
    window
      .fetch(url, { headers })
      .then(parser)
      .then(jokes => this.setState({
        jokes
      }));
  }
  render() {
    return this.props.children(
      this.state.jokes
    );
  }
}
JokeResource.defaultProps = {
  parser: r => r.json(),
  headers: {}
};

class JokesContainer extends React.Component {
  render() {
    const url = "http://rawgit.../jokes.json";
    return (
      <JokeResource url={url}>
        {jokes => <Jokes jokes={jokes} />}
      </JokeResource>
    );
  }
}

const App = () => <JokesContainer />;
