import React from 'react';
import { render } from 'react-dom';
import JokesContainer from './JokesContainer';
import { Provider } from 'react-redux';
import store from './store';

const App = () => <JokesContainer />;

render(
  <Provider store={store}><App /></Provider>,
  document.getElementById('root'),
);
