import React from 'react';
import { render } from 'react-dom';
import JokesContainer from './JokesContainer';
import { whyDidYouUpdate } from 'why-did-you-update';

whyDidYouUpdate(React);

class App extends React.Component {
  render() {
    return <JokesContainer />;
  }
}

render(<App />, document.getElementById('root'));
