class JokeResource extends React.Component {
  state = { jokes: [] };
  componentDidMount() {
    const {url, headers, parser} = this.props;
    window
      .fetch(url, { headers })
      .then(parser)
      .then(jokes => this.setState({
        jokes
      }));
  }
  render() {
    return this.props.children(
      this.state.jokes
    );
  }
}
JokeResource.defaultProps = {
  parser: r => r.json(),
  headers: {}
};

const headers = {
  Accept: "application/json",
  "User-Agent": "DevIntersection"
};
const parser = r =>
  r.json().then(r =>
    r.results.reduce((memo, { joke }) => {
      if (joke.includes("?")) {
        const [question, answer] =
          joke.split("?");
        memo.push({ question, answer });
      }
      return memo;
    }, [])
  );
class JokesContainer extends React.Component {
  render() {
    const url =
      "https://icanhazdadjoke.com/search";
    return (
      <JokeResource
        url={url}
        headers={headers}
        parser={parser}
      >
        {jokes => <Jokes jokes={jokes} />}
      </JokeResource>
    );
  }
}

const App = () => <JokesContainer />;
