const NameComponent = ({ children }) =>
  children("John", "Smith");

const App = () => <NameComponent>
  {(firstName, lastName) => (
    <h1>Hi, {`${firstName} ${lastName}`}</h1>
  )}
</NameComponent>;

render(
  <App />,
  document.getElementById("root")
);
