//@import 'node_modules/normalize-scss/_normalize.scss';
@import 'node_modules/modularized-normalize-scss/_normalize.scss';
@import 'node_modules/scut/dist/_scut.scss';

$primary-color: green;

h1 {
  color: $primary-color;
}

html, body {
  width: 100%;
  height: 100%;
}

.Convey {
  width: 100%;
  height: 100%;
}

.Controls {
  @include scut-center-absolutely(200px n);

  bottom: scut-em(25px);
  text-align: center;
}

footer {

}

.SlideList {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 1px solid red;
  margin: auto;
}

.Slide {
  @include scut-fill;

  padding: 100px;
}

.carousel-enter {
  opacity: 0;
}
.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.carousel-leave {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.carousel-leave.carousel-leave-active {
  opacity: 0;
}
